body {
    background-color: #001f3f; 
    color: white;
    font-family: Arial, sans-serif; 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.menu-navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #181a1d;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu-navegacao .logo {
    height: 50px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-navegacao .menu {
    display: flex;
    gap: 20px;
}

.menu-navegacao .menu a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-navegacao .menu a:hover {
    color: #e6e600;
}

.menu-navegacao .menu-button {
    background-color: yellow; 
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 15px; 
    cursor: pointer;
    font-size: 1em;
    transition: background-co;
    margin-right: 60px;
    margin-bottom: 20px;
}

.container {
    margin: 20px; 
    padding-top: 130px;
}

h2 {
    font-size: 2em;
    margin: 0 110px;
}

button, #popupForm input[type="submit"], #popupForm button {
    background-color: yellow; 
    color: black; 
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 15px; 
    cursor: pointer;
    font-size: 1em;
    margin-top: 30px; 
}

button:hover, #popupForm input[type="submit"]:hover, #popupForm button:hover {
    background-color: #e6e600; 
}

#popupForm {
    display: none; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    color: black; 
}

#overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

.blocos-container {
    display: flex;
    justify-content: space-between; 
    max-width: 800px;
    margin: 20px auto;
    margin-top: 20px; 
}

.bloco {
    flex: 1; 
    height: 200px;
    background-color: white; 
    color: black;
    text-align: center;
    font-size: 1em; 
    padding: 10px; 
    box-sizing: border-box; 
    cursor: pointer; 
    margin: 0 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloco:hover {
    background-color: yellow; 
}
